body {
    background-color: pink !important;
}

.card {
    background-color: #df5885 !important;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #FF1493;
    border-color: #FF1493;
}

.btn-primary:hover {
    background-color: #FF69B4;
    border-color: #FF69B4;
}